*{
    background-color: white;
    /* font-family: 'Urbanist', sans-serif; */
    font-family: 'Lobster', cursive;
    padding: 0;
    margin: 0;
    left: 0;
    top:0;
}

.main-content{
    padding: 0;
    margin: 0;
    left: 0;
    top:0;
    font-weight: bold;
    /*overflow: hidden;*/
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100%;

}
@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .wrapper{
        
    }
    
    .container-1-img{
        display: none;
    }
}
.container-1-img{
    
}
.container-1-img img{
    width: 50vw;
    height: 100vh;
}
.container-2-inputboxes{
    width: 100%;
    background-color: red;
    background-image: url("./download.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* margin-top: -5em; */
}

#rememberme{
    margin: 0.8em;
}
.wrapper{
    padding: 2em;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    margin-left: 2.5em;
    
    margin-right: 2.5em;
}
    
.login-btn{
    margin-top: 2em;
    color: white;
    width: 30%;
    margin-left:30%;
    border: none;
    padding: 0.6em;
    border-radius: 12%;
    height:20%;
    background-color: orangered;
    border : 1px solid black
}
.login-btn:hover{
border:1 px solid orangered;
background-color: black;
}
input[type=text],input[type=password] {
  padding: 0.4em 0.4em;
  margin: 8px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-bottom:1px solid black;
}
input:focus{
  border-bottom:1px solid orangered;
  border-width: medium;
}
